<div class="p-grid">
    <div class="p-col">
        <h4> Product Name</h4>
    </div>
    <div class="p-col">
        <p>{{productName}}</p>
    </div>
</div>
<div class="p-grid">
    <div class="p-col">
        <h4> Product ID</h4>
    </div>
    <div class="p-col">
        <p>{{productId}}</p>
    </div>
</div>
<div class="p-grid">
    <div class="p-col">
        <h4> Product Code</h4>
    </div>
    <div class="p-col">
        <p>{{productCode}}</p>
    </div>
</div>
<div class="p-grid">
    <div class="p-col">
        <h4> Product Price</h4>
    </div>
    <div class="p-col">
        <p>{{price}}</p>
    </div>
</div>
<div class="p-grid">
    <div class="p-col">
        <h4> Product Description</h4>
    </div>
    <div class="p-col">
        <p>{{description}}</p>
    </div>
</div>
<div class="p-grid">
    <div class="p-col">
        <h4> Product StarRating</h4>
    </div>
    <div class="p-col">
        <p>{{starRating}}</p>
    </div>
</div>
<div class="p-grid">
    <div class="p-col">
        <h4> Product ImageUrl</h4>
    </div>
    <div class="p-col">
        <p>{{imageUrl}}</p>
    </div>
</div>